* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #4f041c;
    --accent: #ffffff;
    --text: #adadad;
    --muted: #ffffff;
}

body {
    font-family: 'Monteserrat', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color:  #ffffff;
}

.title {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    letter-spacing: 4px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: black;
}

/* Hero section */
.hero {
    background-attachment: cover;
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to bottom, #ffffff, transparent);

    display: flex;              /* AJOUT 1 */
    flex-direction: column;     /* AJOUT 2 */
    align-items: center;        /* AJOUT 3 → centre le h1 + icônes */
}

.hero h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 7px;
    
}

.hero p {
    color: black;
    max-width: 600px;
    margin: 0 auto 25px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    color: #000000;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.2s ease, background 0.3s ease;
    margin : 20px;
    font-weight: 700;
}

.btn:hover {
    transform: scale(1.03);
    background-color: transparent;
    color: #000000b2;
}

.title-row {
    display: inline-flex;  
    align-items: center;
    justify-content: center;
    gap: -1px;
}

.title-row h1 {
    font-size: 3rem; 
    margin: 0;
    display: flex;
    align-items: center;
}

.circle-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 3px solid #000;
    border-radius: 50%;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    transition: .3s;
}

.circle-icon:hover {
    background: transparent;
    box-shadow: 0 0 10px #000;
    color: #333;
}

/* American Chicken Farm Section */
.american-chicken-farm {
    background-color: rgb(0, 0, 0);
    padding: 50px 20px;
    margin: 50px 0;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.acf-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    align-items: flex-start;
    gap: 30px;
    background-color: rgb(0, 0, 0);
}

.acf-image {
    flex: 1 1 400px;
    text-align: center;
    position: relative;
    top: 25px;
    right:30px;
    border-radius: 50%;
    object-fit: cover;
   
}



.acf-text {
    flex: 1 1 400px;
}

.acf-text h2 {
    font-family: 'Monteserrat',sans-serif;
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}


.acf-text p {
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}


/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    color: var(--accent);
    font-size: 22px;
    margin-bottom: 25px;
}

/* Historique / texte */
.histoire-bloc {
    background: #ffffff;
    padding: 50px 20px;
    border-radius: 15px;
}

.histoire-conteneur {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
   
}


.histoire-texte {
    flex: 1;
}

.histoire-texte h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
    letter-spacing: -1px;
}

.histoire-texte p {
    font-size: 17px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.buttonVeille {
    display: inline-block;        
    background: white;            
    border: 2px solid black;      
    color: #1a1411;             
    padding: 10px 20px;    
    font-weight: bold;
    border-radius: 20px;          
    cursor: pointer;
    text-decoration: none;          
    transition: all 0.3s ease;     
}

/* Effet au survol */
.buttonVeille:hover {
    transform: scale(1.05);     
    background: #f0f0f0;           
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

/* Formulaires contact */
.form-contact {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


input, textarea {
    background: rgba(233, 84, 129, 0.301);
    border: 2px solid #000000;
    border-radius: 6px;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    
}

.button {
    background: rgb(56, 170, 75);
    border: none;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

button:hover {
    transform: scale(1.05);     
    background: #f0f0f0;           
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.container-wrapper:hover {
    transform: translateY(-5px);
  }
  
  /* Le container reste stable — il garde les images en place */
  .container {
    position: relative; /* cadre de référence pour les images */
    background-color: rgba(0, 0, 0, 0.897);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 35px;
    color: #ffffff;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden; /* empêche les images de dépasser */
  }

  .form-container { position: relative; /* pas de bottom ici sinon tout se décale */ 
    margin: 0; 
    padding: 0; 
    text-align: center;  
   }
  
  .container p {
    position: absolute;
    top: 140px;
    right: 485px;
    font-size: 12px;
  }
  
  .container .button {
    display: flex;     
    flex-direction: column;   
    background: white;            
    border: 2px solid black;      
    color: #1a1411;             
    padding: 10px 20px;    
    font-weight: bold;
    border-radius: 20px;          
    cursor: pointer;
    text-decoration: none;          
    transition: all 0.3s ease;
  }
  
  .container .button:hover {
    transform: scale(1.03);
    background-color:rgba(255, 255, 255, 0.815);
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.697);
  }



/* Boutons */
.btn-commande {
    display: inline-block;
    background-color: var(--accent);
    color: #000000;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.2s ease, background 0.3s ease;
    margin-top: 10px;
}

.btn-commande:hover {
    background-color: #4f041c;
    color: #ffffff;
    transform: scale(1.05);
}

/* Responsive : sidebar au-dessus sur mobile */
@media screen and (max-width: 768px) {
    .catalogue-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Footer */
footer {
    background: linear-gradient(to top, #ffc1db, transparent);
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 12px;
    border-top: 2px solid var(--accent);
}

.cv {
    width: 100%;
    display: flex;
    justify-content: center;  
}

.cv img {
    width: 580px;
    height: 725px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;           
    position: static;        

.veille-image {
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.veille-image img {
    width: 1100px;
    max-width: 95%;          
    height: auto;           
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    position: static;         
}

